/******  FILTROS  *****/
.cont-filtros{
  margin-top:15px;
  margin-left: 5px;
  height: 100%;
  background: gray;
  width: 15%;
  position: absolute;
  font-family: 'Montserrat', sans-serif;
  /* text-transform: uppercase; */
}
.filtro-categoria{
  text-align: center;
  padding: 5px;
  background: blue;
}
.filtro-list{
  padding: 0;
  margin: 0;
}
.filtro-list li{
  padding: 10px 15px;
  list-style: none;
}
/******  PRINCIPAL  *****/
.cont-principal{
  width: calc(85% - 15px);
  height: auto;
  background: blue;
  position: absolute;
  right: 0;
  margin-top:15px;
  padding-bottom: 15px;
}
/******  CAROUSEL  *****/
.cont-carousel{
  background: red;
  width: 90%;
  height: 400px;
  margin-top: 15px;
  margin-left: 5%;
}
.carousel{
    background: gray;
    width: 70%;
    display: inline-block;
    height: 100%;
}
/******  DESCRIPCION  *****/
.cont-descripcion{
    display: inline-block;
    height: 100%;
    width: 30%;
    float: right;
    background: green;
    /* position: absolute; */
    top: 0;
}
.descripcion-title{
    padding: 5px 15px;
    background: red;
    margin-bottom: 15px;
}
.descripcion-text{
    background: yellow;
    height: auto;
    padding: 15px;
    max-height: 80%;
}
/******  ULTIMOS JUEGOS  *****/
.cont-ultimos-juegos{
  background: green;
  height: 180px;
  width: 90%;
  margin-left: 5%;
  margin-top: 15px;
}
/******  OFERTAS  *****/
.cont-ofertas{
  background: red;
  height: 180px;
  width: 90%;
  margin-left: 5%;
  margin-top: 15px;
}
.ofertas-title{
  text-align: left;
  height:17px;
  background:yellow;
  padding: 5px 15px;
}
