body{
  margin: 0px;
  padding: 0px;
}

/******  NAV  *****/
nav{
  border: solid 1px black;
  width: 100%;
  height: 30px;
  display: flex;
}
nav .nav_logo{
  float: left;
  width: 20%;
  height: 100%;
  border: solid 1px black;
}
nav .nav_links{
  display: flex;
  width: 60%;
}
nav .nav_links p{
  margin: auto auto auto auto;
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
}
nav .nav_links input{
  margin: auto auto auto auto;
}
nav .nav_profile_card{
  float: right;
  border: solid 1px black;
  height: 100%;
  width: 20%;
}



/******  FILTROS  *****/
.cont-filtros{
  margin-top:15px;
  margin-left: 5px;
  height: 100%;
  background: gray;
  width: 15%;
  position: absolute;
  font-family: 'Montserrat', sans-serif;
  /* text-transform: uppercase; */
}
.filtro-categoria{
  text-align: center;
  padding: 5px;
  background: blue;
}
.filtro-list{
  padding: 0;
  margin: 0;
}
.filtro-list li{
  padding: 10px 15px;
  list-style: none;
}
/******  PRINCIPAL  *****/
.cont-principal{
    width: calc(85% - 15px);
    height: auto;
    background: blue;
    position: absolute;
    right: 0;
    margin-top:15px;
    padding-bottom: 15px;
}
/* Carousel*/
.cont-carousel{
    background: red;
    width: 90%;
    height: 400px;
    margin-top: 15px;
    margin-left: 5%;
}
.cont-ultimos-juegos{
    
    background: green;
    height: 180px;
    width: 90%;
    margin-left: 5%;
    margin-top: 15px;

}
/*OFERTAS*/
.cont-ofertas{
    background: red;
    height: 180px;
    width: 90%;
    margin-left: 5%;
    margin-top: 15px;
}
.ofertas-title{
    text-align: left;
    height:17px;
    background:yellow;
    padding: 5px 15px;
}
