
.cont-filtros{
    margin-top:15px;
    height: 100%;
    background: gray;
    width: 15%;
    position: absolute;
}
.filtro-categoria{
    text-align: center;
    padding: 5px;
    background: blue;
}
.filtro-list{
    padding: 0;
    margin: 0;

}
.filtro-list li{
    padding: 10px 15px;
    list-style: none;
}